html
    head
        title Welcome to Our Website
    body
        header
            h1 Welcome to Our Website
        main
            p Thank you for visiting our website. We're excited to have you here!
            p Feel free to explore and learn more about what we have to offer.
            a(href="/todo") get started
        footer
            p © 2024 OurWebsite.com. All rights reserved.
